/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
section.has-light-background, section.has-light-background h1, section.has-light-background h2, section.has-light-background h3, section.has-light-background h4, section.has-light-background h5, section.has-light-background h6 {
  color: #222; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #2980b9;
  background-color: #2980b9; }

.reveal {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 42px;
  font-weight: normal;
  color: #fff; }

::selection {
  color: #fff;
  background: #bee4fd;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #bee4fd;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 3em; }

.reveal h2 {
  font-size: 1.6em; }

.reveal h3 {
  font-size: 1.3em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #42affa;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #8dcffc;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #068de9; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #42affa;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #42affa; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #42affa; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

.reveal .scene {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  transition: opacity ease 800ms;
  z-index: 1; }
  html.has-scene--slow .reveal .scene {
    --fn: steps(15); }
  html:not(.has-scene) .reveal .scene {
    opacity: 0; }

.reveal .sky {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #0d3250, #a1c4fd, #c2e9fb);
  animation: gradient 7s var(--fn, ease-in-out) infinite alternate;
  background-size: 400% 400%;
  will-change: transform; }

@keyframes gradient {
  0% {
    background-position: 0% 0%; }
  100% {
    background-position: 100% 100%; } }

.reveal .stars {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: url(/img/stars.svg);
  background-size: 600px;
  opacity: 0;
  animation: stars 14s var(--fn, ease-in-out) infinite alternate;
  will-change: opacity; }

@keyframes stars {
  0% {
    opacity: 1; }
  20% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.reveal .sun {
  --size: 100px;
  display: block;
  width: var(--size);
  height: var(--size);
  color: #ff0;
  background-color: currentColor;
  position: absolute;
  top: 98vh;
  left: calc(50% - var(--size) / 2);
  border-radius: 50%;
  animation: sun 14s var(--fn, linear) infinite;
  will-change: transform; }

.reveal .moon {
  --size: 100px;
  display: block;
  width: var(--size);
  height: var(--size);
  box-sizing: border-box;
  color: #fff;
  border-right: 15px solid currentColor;
  position: absolute;
  top: 98vh;
  left: calc(50% - var(--size) / 2);
  animation: sun 14s var(--fn, linear) infinite -7s;
  border-radius: 50%;
  will-change: transform; }

@keyframes sun {
  from {
    transform: rotate(-135deg) translateY(-93vh) rotate(165deg); }
  to {
    transform: rotate(135deg) translateY(-93vh) rotate(-105deg); } }

.reveal .cloud {
  background-color: #fff;
  font-size: 10px;
  width: 20em;
  height: 6em;
  border-radius: 1000em;
  position: absolute;
  top: 20%;
  left: 0;
  opacity: 0.7;
  animation: cloud-move 29s var(--fn, linear) infinite;
  will-change: transform; }
  .reveal .cloud--1 {
    font-size: 8px;
    top: 18%;
    animation-delay: -1.5s; }
  .reveal .cloud--2 {
    font-size: 12px;
    top: 21%;
    animation-delay: -3.5s; }
  .reveal .cloud::before {
    content: '';
    background-color: inherit;
    width: 6em;
    height: 6em;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border-radius: 50%; }
  .reveal .cloud::after {
    content: '';
    background-color: inherit;
    width: 8em;
    height: 8em;
    position: absolute;
    bottom: 45%;
    left: 18%;
    border-radius: 50%; }

@keyframes cloud-move {
  from {
    transform: translateX(-110%); }
  to {
    transform: translateX(110vw); } }

.reveal .ship {
  position: absolute;
  width: 600px;
  bottom: 0;
  animation: navigate 19s var(--fn, linear) infinite;
  will-change: transform; }

.reveal .ship-img {
  animation: sway 4s var(--fn, ease-in-out) infinite alternate;
  will-change: transform; }

@keyframes navigate {
  from {
    transform: translateX(-110%); }
  to {
    transform: translateX(110vw); } }

@keyframes sway {
  from {
    transform: scaleX(-1) rotate(0.2rad); }
  to {
    transform: scaleX(-1) rotate(0rad); } }

.reveal .dolphin {
  fill: #000;
  width: 200px;
  position: absolute;
  top: 100%;
  left: 0;
  animation: swim 16s var(--fn, linear) infinite;
  will-change: transform; }

.reveal .dolphin-img {
  animation: jump 4s var(--fn, linear) infinite;
  will-change: transform; }

@keyframes jump {
  from {
    transform: rotate(360deg) translateY(-150%); }
  to {
    transform: rotate(0) translateY(-150%); } }

@keyframes swim {
  from {
    transform: translateX(110vw); }
  to {
    transform: translateX(-110%); } }

.reveal .sea {
  position: absolute;
  height: 75px;
  animation: sea 16s var(--fn, linear) infinite, light 7s var(--fn, linear) infinite alternate;
  width: 100%;
  bottom: 0;
  background: url(/img/waves.svg);
  will-change: transform; }

.reveal .sea--2 {
  transform: scale(1.5); }

@keyframes sea {
  from {
    background-position: 0% center; }
  to {
    background-position: 100% center; } }

@keyframes light {
  from {
    opacity: 0.8; }
  to {
    opacity: 0.5; } }

.reveal .battery {
  width: 300px;
  height: 120px;
  background: #fff;
  margin: 40px auto;
  display: inline-block;
  border-radius: 12px;
  position: relative; }
  .reveal .battery::before {
    position: absolute;
    left: 100%;
    top: 50%;
    width: 8px;
    height: 30px;
    background-color: #fff;
    transform: translateY(-50%);
    content: '';
    border-radius: 0 3px 3px 0; }
  .reveal .battery::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 100%;
    background-color: #f00;
    border: 6px solid #fff;
    content: '';
    border-radius: 12px 0 0 12px;
    box-sizing: border-box;
    animation: pulse ease alternate infinite 500ms; }

@keyframes pulse {
  from {
    opacity: 0.2; }
  to {
    opacity: 1; } }

.reveal .square {
  --size: 200px;
  --margin: 20px;
  height: var(--size);
  width: var(--size);
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  position: relative;
  margin: var(--margin);
  border-radius: 50%;
  left: 0;
  animation: 3s linear infinite alternate;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  color: #000; }
  .reveal .square.slow {
    animation-name: slow; }
  .reveal .square.fast {
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    animation-name: fast; }

.button {
  background: white;
  color: black;
  border: 0;
  font-weight: 800;
  border-radius: 100px;
  padding: 10px 40px;
  margin: 20px;
  font-size: 0.7em;
  font-family: inherit; }

@keyframes slow {
  to {
    left: calc(100% - var(--size) - var(--margin) * 2); } }

@keyframes fast {
  to {
    transform: translateX(calc(960px - var(--size) - var(--margin) * 2)); } }

.flip-wrapper {
  overflow: auto;
  max-height: 540px;
  position: relative; }

.flip-demo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 200px;
  overflow: auto;
  grid-gap: 20px; }

.flip-el {
  background-color: var(--bg, #fff);
  transform-origin: left top;
  width: 100%;
  height: 100%;
  transition: opacity ease 300ms; }

.flip-el.flipped {
  position: fixed;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  opacity: 0.75;
  pointer-events: none;
  border: 10px solid white; }

.flip-demo > div:nth-child(8n + 0) {
  --bg: #F44336; }

.flip-demo > div:nth-child(8n + 1) {
  --bg: #2196F3; }

.flip-demo > div:nth-child(8n + 2) {
  --bg: #8BC34A; }

.flip-demo > div:nth-child(8n + 3) {
  --bg: #9C27B0; }

.flip-demo > div:nth-child(8n + 4) {
  --bg: #607D8B; }

.flip-demo > div:nth-child(8n + 5) {
  --bg: #FFEB3B; }

.flip-demo > div:nth-child(8n + 6) {
  --bg: #3F51B5; }

.flip-demo > div:nth-child(8n + 7) {
  --bg: #795548; }

.reveal .cycle {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 20%;
  grid-gap: 10px 50px;
  align-items: center; }
  .reveal .cycle .main {
    grid-row: span 5; }

.reveal .chevron {
  position: relative;
  padding: 20px 10px 10px;
  margin: 0; }
  .reveal .chevron span {
    z-index: 2;
    position: relative; }
  .reveal .chevron::before, .reveal .chevron::after {
    position: absolute;
    background: var(--col);
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    top: 0; }
  .reveal .chevron::before {
    transform: skewY(5deg);
    left: 0; }
  .reveal .chevron::after {
    transform: skewY(-5deg);
    right: 0; }
  .reveal .chevron.js {
    --col: #ffab40; }
  .reveal .chevron.style, .reveal .chevron.layout {
    --col: #9900ff; }
  .reveal .chevron.paint, .reveal .chevron.composite {
    --col: #6aa84f; }

.reveal .thermometer {
  font-size: 30px;
  width: 300px;
  height: 1em;
  border-radius: 100px;
  background: #fff;
  margin: 2em;
  position: relative;
  animation: shake infinite ease alternate 1s;
  display: inline-block; }
  .reveal .thermometer::before {
    content: '';
    display: block;
    position: absolute;
    background-color: #C4443C;
    border-radius: 100px;
    border: 0.25em solid white;
    background-clip: content-box;
    height: 2em;
    width: 2em;
    top: -0.5em;
    left: -0.5em;
    box-sizing: border-box; }
  .reveal .thermometer::after {
    content: '';
    width: 100%;
    height: 100%;
    border: 0.25em solid transparent;
    border-radius: 10em;
    box-sizing: border-box;
    background-clip: content-box;
    background-color: #C4443C;
    position: absolute;
    top: 0;
    left: 0;
    animation: temperature infinite ease alternate 1s;
    transform-origin: left center; }

@keyframes temperature {
  50% {
    transform: scaleX(1); }
  to {
    transform: scaleX(0.75); } }

@keyframes shake {
  from {
    transform: rotate(0deg); }
  8% {
    transform: rotate(-5deg); }
  16% {
    transform: rotate(5deg); }
  24% {
    transform: rotate(-5deg); }
  32% {
    transform: rotate(5deg); }
  48% {
    transform: rotate(0deg); } }

.reveal h1.main {
  font-size: 120px; }

.reveal .avatar {
  border-radius: 50%;
  border: 3px solid white; }

.reveal .profile {
  display: inline-flex;
  flex-direction: column;
  font-size: 20px;
  align-items: center; }

.reveal ul.simple {
  list-style-type: none; }
  .reveal ul.simple a {
    color: currentColor;
    text-decoration: underline; }

.reveal h1.shadow,
.reveal h2.shadow,
.reveal h3.shadow {
  text-shadow: 0 0 100px #000; }

.reveal h1.big,
.reveal h1 big {
  font-size: 280px; }

.reveal h1.small {
  font-size: 100px; }

.reveal section img {
  margin: 15px 0px;
  background: transparent;
  border: 0;
  box-shadow: none; }

@keyframes neon {
  from {
    text-shadow: 0 0 10px #005dad; }
  80% {
    text-shadow: 0 0 28px #005dad; }
  84% {
    text-shadow: 0 0 45px #005dad; }
  88% {
    text-shadow: 0 0 22px #005dad; }
  92% {
    text-shadow: 0 0 38px #005dad; }
  96% {
    text-shadow: 0 0 20px #005dad; }
  to {
    text-shadow: 0 0 28px #005dad; } }

.codepen {
  width: 50px; }

.reveal .slides {
  z-index: 2; }

.reveal a:hover img {
  box-shadow: none; }
