html.gradient-default body {
	background: linear-gradient(225deg, #7B4397, #DC2430);
}

html.gradient-dark body {
	background: linear-gradient(to bottom, #4D4D4D, #000);
}

html.gradient-css body {
	background: linear-gradient(to right, #000854, #004E92);
}

html.gradient-js body {
	background: linear-gradient(135deg, #E65C00, #8E0E00);
}

html.gradient-flip body {
	background: linear-gradient(55deg, #237A57, #093028);
}

html.gradient-vs body {
	background: linear-gradient(to bottom, #1C4587, #DC2430);
}
