.reveal .scene {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  transition: opacity ease 800ms;

  html.has-scene--slow & {
    --fn: steps(15);
  }

  html:not(.has-scene) & {
    opacity: 0;
  }
}

.reveal .sky {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #0d3250, #a1c4fd, #c2e9fb);
  animation: gradient 7s var(--fn, ease-in-out) infinite alternate;
  background-size: 400% 400%;
  will-change: transform;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.reveal .stars {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: url(/img/stars.svg);
  background-size: 600px;
  opacity: 0;
  animation: stars 14s var(--fn, ease-in-out) infinite alternate;
  will-change: opacity;
}

@keyframes stars {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.reveal .sun {
  --size: 100px;
  display: block;
  width: var(--size);
  height: var(--size);
  color: #ff0;
  background-color: currentColor;
  position: absolute;
  top: 98vh;
  left: calc(50% - var(--size) / 2);
  border-radius: 50%;
  animation: sun 14s var(--fn, linear) infinite;
  will-change: transform;
}

.reveal .moon {
  --size: 100px;
  display: block;
  width: var(--size);
  height: var(--size);
  box-sizing: border-box;
  color: #fff;
  border-right: 15px solid currentColor;
  position: absolute;
  top: 98vh;
  left: calc(50% - var(--size) / 2);
  animation: sun 14s var(--fn, linear) infinite -7s;
  border-radius: 50%;
  will-change: transform;
}

@keyframes sun {
  from {
    transform: rotate(-135deg) translateY(-93vh) rotate(165deg);
  }
  to {
    transform: rotate(135deg) translateY(-93vh) rotate(-105deg);
  }
}

.reveal .cloud {
  background-color: #fff;
  font-size: 10px;
  width: 20em;
  height: 6em;
  border-radius: 1000em;
  position: absolute;
  top: 20%;
  left: 0;
  opacity: 0.7;
  animation: cloud-move 29s var(--fn, linear) infinite;
  will-change: transform;

  &--1 {
    font-size: 8px;
    top: 18%;
    animation-delay: -1.5s;
  }

  &--2 {
    font-size: 12px;
    top: 21%;
    animation-delay: -3.5s;
  }

  &::before {
    content: '';
    background-color: inherit;
    width: 6em;
    height: 6em;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border-radius: 50%;
  }

  &::after {
    content: '';
    background-color: inherit;
    width: 8em;
    height: 8em;
    position: absolute;
    bottom: 45%;
    left: 18%;
    border-radius: 50%;
  }
}

@keyframes cloud-move {
  from { transform: translateX(-110%) }
  to { transform: translateX(110vw) }
}

.reveal .ship {
  position: absolute;
  width: 600px;
  bottom: 0;
  animation: navigate 19s var(--fn, linear) infinite;
  will-change: transform;
}

.reveal .ship-img {
  animation: sway 4s var(--fn, ease-in-out) infinite alternate;
  will-change: transform;
}

@keyframes navigate {
  from { transform: translateX(-110%) }
  to { transform: translateX(110vw) }
}

@keyframes sway {
  from { transform: scaleX(-1) rotate(0.2rad); }
  to { transform: scaleX(-1) rotate(0rad); }
}

.reveal .dolphin {
  fill: #000;
  width: 200px;
  position: absolute;
  top: 100%;
  left: 0;
  animation: swim 16s var(--fn, linear) infinite;
  will-change: transform;
}

.reveal .dolphin-img {
  animation: jump 4s var(--fn, linear) infinite;
  will-change: transform;
}

@keyframes jump {
  from { transform: rotate(360deg) translateY(-150%) }
  to { transform: rotate(0) translateY(-150%) }
}

@keyframes swim {
  from { transform: translateX(110vw) }
  to { transform: translateX(-110%) }
}

.reveal .sea {
  position: absolute;
  height: 75px;
  animation: sea 16s var(--fn, linear) infinite, light 7s var(--fn, linear) infinite alternate;
  width: 100%;
  bottom: 0;
  background: url(/img/waves.svg);
  will-change: transform;
}

.reveal .sea--2 {
  transform: scale(1.5);
}

@keyframes sea {
  from { background-position: 0% center }
  to { background-position: 100% center }
}

@keyframes light {
  from { opacity: 0.8; }
  to { opacity: 0.5; }
}
