.reveal .square {
  --size: 200px;
  --margin: 20px;

  height: var(--size);
  width: var(--size);
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  position: relative;
  margin: var(--margin);
  border-radius: 50%;
  left: 0;
  animation: 3s linear infinite alternate;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  color: #000;
  
  &.slow {
    animation-name: slow;
  }
  
  &.fast {
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    animation-name: fast;
  }
}

.button {
  background: white;
  color: black;
  border: 0;
  font-weight: 800;
  border-radius: 100px;
  padding: 10px 40px;
  margin: 20px;
  font-size: 0.7em;
  font-family: inherit;
}

@keyframes slow {
  to { left: calc(100% - var(--size) - var(--margin) * 2) }
}

@keyframes fast {
  to { transform: translateX(calc(960px - var(--size) - var(--margin) * 2)) }
}