/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/open-sans/open-sans.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #000;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 42px;
$mainFont: 'Open Sans', Helvetica, sans-serif;
$headingFont: 'Open Sans', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 800;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 3em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}


// Theme template ------------------------------
@import "../template/theme";
// @import '../template/scene';
// @import '../template/battery';
// @import '../template/squares';
// @import '../template/flip';
// @import '../template/cycle';
// @import '../template/thermometer';
// ---------------------------------------------

.reveal {
	h1.main {
		color: #BB3335;
		font-size: 100px;
		-webkit-text-stroke: 2px #FFFA5C;
	}

	h1.cover {
		font-family: Arial Black;
		color: #BB3335;
		font-size: 250px;
		-webkit-text-stroke: 5px #FFFA5C;
		line-height: 0.8;
    letter-spacing: -14.5px;
	}

	h4.main {
		color: #FFFA5C;
	}

	.thumb-wrapper {
		position: relative;
		// background: #FFFA5C;
		filter: invert(1);

	// 	img {
	// 		background-color: white;
	// 		mix-blend-mode: lighten;
	// 	}

		// &::after {
		// 	content: '';
		// 	display: block;
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	right: 0;
		// 	bottom: 0;
		// 	background: yellow;
		// }
	}

	blockquote {
		background-color: transparent;
		border: 0;
		font-size: 60px;
		width: 90%;
		font-weight: bold;
	}

	.has-scene & h1 {
		text-shadow: 0 0 200px #FFFA5C;
	}

	h1.shadow,
	h2.shadow,
	h3.shadow {
		text-shadow: 0 0 100px #000;
	}

	h1.big,
	h1 big {
		font-size: 280px;
	}

	h1.small {
		font-size: 100px;
	}

	section img {
		margin: 15px 0px;
		background: transparent;
		border: 0;
		box-shadow: none;
	}

	pre {
		box-shadow: none;
	}

	code {
		font-size: 50px;
		font-weight: bold;
		line-height: 1.2;
		background-color: transparent;
	}

	.sw {
		color: #72ECE9;
		font-weight: normal;
		text-align: left;
	}

	.logo-wrapper {
		height: 600px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		perspective: 800px;
	}

	.stickers {
		height: 80%;
		width: 85%;
		display: flex;
		align-items: center;
		justify-content: center;
		transform: rotateX(5deg);
		// mix-blend-mode: overlay;
	}

	.logo {
		position: absolute;
		width: 100%;
		max-width: 100px;
		max-height: 100px;
	}

	.logo1 { transform: translate(20vw, 20vh) scale(1) }
	.logo2 { transform: translate(10vw, -17vh) scale(1.8) }
	.logo3 { transform: translate(-15vw, -10vh) scale(1) }

	ol {
		font-size: 60px;
		font-weight: bold;
	}
}

@keyframes neon {
	from { text-shadow: 0 0 10px #FFFA5C; }
	80% { text-shadow: 0 0 28px #FFFA5C; }
	84% { text-shadow: 0 0 45px #FFFA5C; }
	88% { text-shadow: 0 0 22px #FFFA5C; }
	92% { text-shadow: 0 0 38px #FFFA5C; }
	96% { text-shadow: 0 0 20px #FFFA5C; }
	to { text-shadow: 0 0 28px #FFFA5C; }
}

.codepen {
	width: 50px;
}

.reveal .slides {
	z-index: 2;
}

.reveal a:hover img {
	box-shadow: none;
}